<h1 style='text-align: center'>
    Seattle, WA
  </h1>
  <div class='container'>
    <div class='col-lg-6' style='display: inline-block'>
      <p>Humidity: {{ weather.main.humidity }}%  </p>
      <p>Temperature (High): {{ tempMax }}°F </p>
      <p>Temperature (Average): {{ tempAvg }}°F </p>
      <p>Temperature (Low): {{ tempMin }}°F </p>
      <p>Status: {{ weather.weather[0].description }} </p>
    </div>
    <div class='col-lg-6' style='display: inline-block; vertical-align: top'>
      <img src='https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg' style='height: 200px; width: 400px'>
    </div>
  </div>